/*font loading*/
@font-face{ 
    font-family: 'OpenDyslexic-Bold'; 
    src: url('OpenDyslexic-Bold.otf') format('opentype'); 
    font-weight: bold; 
    font-style: normal;
}
@font-face{ 
    font-family: 'OpenDyslexic-Regular'; 
    src: url('OpenDyslexic-Regular.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal;
}
/* ------------------------------------------------------- */
/*general styles*/
body{
    background-color: #231F20;
    /* padding: 2%;
    margin: 0; */
}
h1, h2, h3, h4, p, li{
    font-family: 'OpenDyslexic-Regular',monospace;
}
h1, h2, h3{
    color: #FF00FE;
}
h4{
    color: #87878C;
}
p,li{
    color: #fff;
}
#scroll::-webkit-scrollbar {
    display: none;
}
.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
    display: none;
}
/* ------------------------------------------------------- */
/*MAIN CONTENT styles*/
#access header{
    display: flex;
    gap: 20px;
    padding: 2% 2% 0 2%;
}
#access header>div{
    width: 55%;
}
#access h1{
    margin: 0;
    font-size: 100px;
    line-height: 100px;
}
#access header p:first-of-type{
    font-size: 14px;
    margin-top: 10px;
}
#access header p:last-of-type{
    margin-top: 30px;
    font-size: 18px;
}
/*nav styles*/
nav{
    border: 1px solid #FF00FE;
    margin-top: 70px;
    margin: 2%;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
/* ------------------------------------------------------- */
/*section styles*/
#access main section{
    margin: 0 3%;
}
section h2{
    font-size: 50px;
    margin-bottom: 0;
}
section p, section ul, section ol{
    font-size: 18px;
}
section h4{
    font-size: 24px;
    margin-top: 0;
}
section ul, section p{
    max-width: 45%;
}
#what h2, #what h4, #what ul, #what p, #how h2, #how h4, #how ol, #how p{
    margin-left: 50%;
}
/* ------------------------------------------------------- */
/*footer styles*/
footer{
    background-color:#FF00FE;
    margin: 0;
    margin-top: 100px;
    padding: 2%;
}
footer p{
    color: #231F20;
    font-size: 30px;
    font-family: 'OpenDyslexic-Bold',monospace;
    margin: 0;
}
/* ------------------------------------------------------- */
/*OVERLAY styles*/
#overlay1, #overlay2{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #231F20;
    padding: 2%;
    margin: 0;
}
#overlay1{
    display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
    z-index: 1;
}
#overlay1 h1{
    font-size: 100px;
    padding: 0 20px;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
#overlay2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#overlay2 div{
    max-width: 70%;
}
#overlay2>p{
    color:#FF00FE;
    cursor: pointer;
}
